<!DOCTYPE html>
<html>

<head>
    <title>Ma Carte d'études</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>
    <h1>Mes lieux d'études</h1>


    <div id="map"></div>

    <script>
        // 1. Initialiser la carte centrée sur ta région
        var map = L.map('map').setView([50.75, 2.30], 9);

        // 2. Ajouter le fond de carte (OpenStreetMap)
        L.tileLayer('https://tile.openstreetmap.org/%7Bz%7D/%7Bx%7D/%7By%7D.png', {
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);

        // 3. Ajouter tes points (Latitude, Longitude)
        L.marker([50.879, 2.083]).addTo(map).bindPopup('Collège du Bredenarde (Audruicq)');
        L.marker([50.751, 2.252]).addTo(map).bindPopup('Lycée Alexandre Ribot (Saint Omer)');
        L.marker([50.609, 3.138]).addTo(map).bindPopup('Université de Lille - Cité Scientifique');
        L.marker([50.952, 1.881]).addTo(map).bindPopup('ULCO - FCU de Calais');
    </script>

    <a href="/">Retour à l'accueil</a>

</body>

</html>