<!DOCTYPE html>
<html>

<head>
    <title>Carte de localisation</title>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body>

    <div id="map"></div>

    <script>
        // Création de la carte centrée sur une position
        var map = L.map('map').setView([50.75, 2.30], 9);

        // Ajout des tuiles OpenStreetMap
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Ajout des marqueurs
        L.marker([50.372734, 3.5213837]).addTo(map).bindPopup('Ecole Rubika ()');
        L.marker([50.751, 2.252]).addTo(map).bindPopup('Lycée Alexandre Ribot (Saint Omer)');
        L.marker([50.609, 3.138]).addTo(map).bindPopup('Université de Lille - Cité Scientifique');
        L.marker([50.952, 1.881]).addTo(map).bindPopup('ULCO - FCU de Calais');
    </script>

</body>

</html>
