body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 500px;
    width: 100%;
}

/* Style du lien Accueil */
.home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* pour être au-dessus de la carte */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.home-link:hover {
    color: #0056b3;
}
