<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Carte de localisation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">



</head>

<body>

    <div class="map-container">
        <div class="map-header">
            <h2>📍 Mon parcours scolaire </h2>
        </div>

        <div id="map"></div>
    </div>

    <a href="/" class="btn-retour">Retour à l'accueil</a>

    <script>
        var map = L.map('map').setView([50.75, 2.30], 9);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);

        // Marqueurs
        L.marker([50.372734, 3.5213837]).addTo(map).bindPopup('<b>Rubika</b><br>Valenciennes');
        L.marker([50.952, 1.881]).addTo(map).bindPopup('<b>ULCO</b><br>Calais');
        L.marker([50.86517, 1.86847]).addTo(map).bindPopup('<b>Collège les 4 vents</b><br>Guînes');
    </script>

</body>

</html>